:root {
    --color-main: #1E1027;
    --color-secondary: #493552;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Kumbh Sans";
    background-color: var(--color-main);
    color: white;
}

#zone-paiement {
    display: flex;
}

#commande-header, #pizza1Container, #pizza2Container, #pizza3Container, #pizza4Container, .prixContainer{
    display: flex;
    align-items: center;
} 

#clientContainer, #pizzasContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#facture {
    background-color: var(--color-secondary);
    height: 100vh;
}