#zone-paiement {
    display: flex;
}

#commande-header, #pizza1Container, #pizza2Container, #pizza3Container, #pizza4Container{
    display: flex;
    align-items: center;
}

#clientContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
